.mdl-layout__drawer {
  border-right: 0px;
  background-color: $basemate-color-gray;
  .mdl-layout-title{
     background-color: white;
     height: 79px;
     padding-top: 7px;
     padding-left: 39px;
     a{
       text-decoration: none;
       color: inherit;
     }
  }
  .mdl-navigation{
   .mdl-navigation__link {
     color: white;
     padding: 8px 40px;
     &:hover{
       background-color: $basemate-color-blue;
     }
     &.active{
       background-color: $basemate-color-red;
     }
   }
  }
}
