.mdl-button{
  &.mdl-button--basemate-header {
    box-shadow: none;
    height: 50px;
    font-size: 12px;
    background-color: white;
    border-radius: 0px;
    &:hover{
      color: $basemate-color-blue-lighter;
    }
    .active{
      color: $basemate-color-red;
    }
  }
}
