.loading{
  width: 100%;
  text-align: center;
}

.mdl-spinner {
  margin-top: 100px;
  display: none;
}

.mdl-card__supporting-text{
  width: initial;
}

.markdown-content{
  margin-top: 40px;
  h1{
    font-size: 30px;
  }
  h2{
    font-size: 25px;
  }
  h3{
    font-size: 20px;
  }
  h4{
    font-size: 18px;
  }
  h5{
    font-size: 16px;
  }
  h6{
    font-size: 14px;
  }
}

.page-heading{
  width: 100%;
  min-height: 200px;
  background-color: $basemate-color-gray-lighter;
  .page-content{
    padding-left: 10px;
  }
}

#page_content{
  width: 100%;
  transition:opacity 0.2s linear;
}

.demo-area{
  border: 1px solid $basemate-color-gray-lighter;
  margin: 10px;
  min-height: 150px;
}

.concepts{
  img {
    max-width: 80vw;
    height: auto;
  }
}
