header{
  a{
    text-decoration: none;
    color: inherit;
  }
}

.header__logo {
  img{
    height: 40px;
    margin-top: 6px;
    @media only screen and (max-width: 1024px) {
      margin-top: -3px;
    }
  }
}

.mdl-layout__drawer{
  img.header__logo {
    margin-top: 0px;
    @media only screen and (max-width: 1024px) {
      margin-top: 10px;
    }
  }
}

.mdl-layout__header {
  .header__slogan{
     color: $basemate-color-gray;
     padding-right: 10px;
  }

  background-color: white;
  min-height: 80px;
  box-shadow: none;
  border-bottom: 1px solid $basemate-color-gray-lighter;
  .mdl-layout-title{
    background-color: white;
    height: 79px;
    padding-top: 26px;
    a{
      text-decoration: none;
      color: inherit;
    }
  }
  .mdl-layout__drawer-button {
    margin: 13px;
    margin-left: -3px;
    color: $basemate-color-gray;
  }
}
.mdl-layout__header-row {
  padding-top: 15px;
  padding-left: 45px;
}

.header__link{
  padding-left: 10px;
  &.active{
    .mdl-button{
      border-bottom: 5px solid $basemate-color-red;
    }
  }
  .mdl-button{
    border-bottom: 5px solid white;
  }

}

.mobile-header__logo{
  @media only screen and (min-width: 1024px) {
   display: none;
  }
}
