.mdl-layout__drawer {
  overflow-y: hidden;
  border-right: 0px;
  background-color: $basemate-color-gray;
  .mdl-layout-title{
     background-color: white;
     height: 79px;
     padding-top: 7px;
     padding-left: 39px;
     a{
       text-decoration: none;
       color: inherit;
     }
  }
  .mdl-navigation{
    .navigation-header {
      color: white;
      padding-left: 40px;
      font-weight: bold;
      padding-top: 20px;
      padding-bottom: 20px;
    }
    max-height: 91vh;
    overflow-y: auto;
   .mdl-navigation__link {
     color: white;
     padding: 8px 40px;
     &:hover{
       background-color: $basemate-color-blue;
     }
     &.active{
       background-color: $basemate-color-red;
     }
   }
  }
}
