.mdl-snackbar--notice {
  @media only screen and (min-width: 1024px) {
    bottom: 25px;
    left: 85%;
  }
  @media only screen and (min-width: 1650px) {
    bottom: 25px;
    left: 90%;
  }
  background-color: $basemate-color-blue;
}


.mdl-snackbar--alert{
  @media only screen and (min-width: 1024px) {
    bottom: 25px;
    left: 85%;
  }
  @media only screen and (min-width: 1650px) {
    bottom: 25px;
    left: 90%;
  }
  background-color: $basemate-color-red;
}
