%section#imprint{:style => "background-color: lightgrey; padding: 90px 0;"}
  .container
    .row
      .col-md-8.col-md-offset-2
        %h1 Imprint
        %h2 Contact information
        %p
          Bastert, Jabari und Wengerter GbR
          %br/
          Am Messehaus 23
          %br/
          90489 Nürnberg
        %p
          Vertretungsberechtige Geschäftsführer: Christopher Bastert,
          Jonas Jabari, Pascal Wengerter
        %p
          Kontakt:
          %a{:href => "mailto:info@basemate.com"} info@basemate.com
          %br/
          Steuer-ID: 238/152/06002
        %h2 Disclaimer
        %h3 Limitation of Liability
        %p
          Bastert, Jabari und Wengerter GbR takes no responsibility for the
          actuality, correctness, completeness or quality of the information
          provided. Liability claims against Bastert, Jabari und Wengerter GbR
          of a material or immaterial nature that are caused by the use or
          disuse of the information or the use of faulty and incomplete
          information are generally excluded, unless there is proof of any
          intent or gross negligence on behalf of Bastert, Jabari und
          Wengerter GbR. All offers are subject to change and non-binding.
          Bastert, Jabari und Wengerter GbR reserves the right to change,
          add to, or remove the offer in full or partly without prior notice,
          and/or to cease publication of such temporarily or permanently.
        %h3 Copyrights
        %p
          The contents of this website, especially the images and text
          contained within are subject to copyright and may not be distributed,
          altered or copied in full or partly without the prior written consent
          of Bastert, Jabari und Wengerter GbR. The website contains images that
          are subject to the copyright of third parties.
        %h3 References and Links
        %p
          Despite careful content monitoring, we take no liability for the
          content of external links. The operators are exclusively responsible
          for the content of linked pages. All brand names and trademarks
          mentioned on the Internet offer including those possibly protected
          by third parties are subject to the provisions of applicable
          trademark law and the ownership rights of the respective registered
          owners. The mere mention of such does not mean that trademarks are
          not protected by third party rights.
        %h3 Online Dispute Resolution
        %p
          The EU Commission provides a platform for out-of-court disputes.
          Consumers are provided with the opportunity to address disputes
          related to their online orders out of court. The online
          dispute resolution platform is available at the following
          address: http://ec.europa.eu/consumers/odr/.
        %p
          We are neither willing nor obliged to participate in a dispute
          settlement procedure by a dispute resolution body. Our e-mail
          address can be found on this page.
