.markdown-content {
	margin-top: 40px;

	ol{
		padding-inline-start: 20px;
	}

	ol > li {
		a {
			display: inline-block;
			padding: 0.2rem 0.1rem;
			font-size: 1.2rem;
			font-weight: bold;
		}
	}

	h1 {
		margin-top: 6rem;
		margin-bottom: 5rem;
    font-size: 2rem;
    line-height: 2rem;
	}

	h2, h3, h4, h5, h6 {
		padding-top: 3.5rem;
		margin-top: -2.5rem;
	}

	h2 {
		font-size: 1.5rem;
		line-height: 2.5rem;
		padding-top: 4.5rem;
		margin-bottom: 0.75rem;
	}

	h3 {
		font-size: 1.25rem;
		line-height: 2rem;
		margin-bottom: 0.75rem;
	}

	h4 {
		font-size: 1rem;
		line-height: 1.75rem;
		margin-bottom: 0.75rem;
	}

	h5 {
		font-size: 0.825rem;
		line-height: 1.25rem;
		margin-bottom: 0.75rem;
	}

	h6 {
		font-size: 0.75rem;
		line-height: 1.25rem;
		margin-bottom: 0.75rem;
	}
	
	img {
		width: 100%;
	}

	.highlight.html{
		span.err {
			color: inherit;
			background: inherit;
		}
	}
}
