.sidebar {
  height: calc(100vh - 56px);
  width: 260px; /* 0 width - change this with JavaScript */
  // padding-right: 15px;
  position: fixed !important; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 56px;
  left: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

.sidebar-sticky.menu {
  padding-bottom: 2rem;
}

.links-btn {
  margin: 0px;
  padding: 0px;
  border: none;
  text-align: left;
}

#sidebar {
  .list-group-item {
    border: none;
    border-left: 3px solid transparent;
    background-color: $m_dark;
  }

  .list-group-item-action {
    color:  $m_light_grey;
  }

  .list-group-item-action:hover, .list-group-item-action:focus {
    color: $m_light_grey;
    background-color: $m_dark_grey;
  }

  ul a {
    font-family: "Nunito Sans";
    font-weight: 300;
  }

  .list-group-item.active {
    border-left: 3px solid $m_orange;
    background-color: $m_dark_grey;
  }
}

.sidebar.closed {
  margin-left: -280px;
}
.sidebar.open {
  margin-left: 0px;
}

@media (max-width: $medium_screen) {
  .sidebar {
    margin-left: -280px;
  }
  .sidebar.open {
    margin-left: 0px;
  }
}
