/* # General stuff */

/* fonts */

@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);
html, body, html * {
  font-family: 'Roboto', sans-serif;
}

.h-1 {
  font-family: Roboto;
  font-size: 40px;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 56px;
  margin-bottom: 0.4em;
}

.h-2 {
  font-family: Roboto;
  font-size: 30px;
  font-weight: 500;
  line-height: 42px;
  margin-bottom: 1em;
}

.h-3 {
  font-family: Roboto;
  font-size: 23px;
  font-weight: 500;
  line-height: 28px;
}

p {
  font-family: Roboto;
  font-size: 18px;
  line-height: 28px;
}

/* buttons */

/* colors */

.text-white {
  color: white !important;
}

.text-grey {
  color: #2B273C;
}

.text-red {
  color: #FF3300;
}

.background-white {
  background-color: white;
}

.background-lightgrey {
  background-color: #EFEFF1;
}

.background-grey {
  background-color: #2B273C;
}

.background-grey-gradient {
  background: linear-gradient(180deg, #2B273C 0%, #413D50 99.9%);
}

/* # Section based stuff */

/* hero section */

.nav-button {
  color: #fff !important;
  border: none !important
}

.nav-button:hover {
  background-color: #FF3300 !important;
  opacity: 0.65;
}

#videoBG {
  position: fixed;
  z-index: -1;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

/* hero section end */
/* team section */

.team-img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}

.team-img-icon {
  font-size: 2em !important;
  padding: 0.25em;
}

/* team section end */
/* footer section */

.bs-footer {
  background-color: white;
}

.exist-logo {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 50px;
}
/* footer section end */
/* cta section */
.cta {
  color: #fff;
}
/* cta section end */
/* use case section */

.usecase-card {
  margin-left: auto;
  margin-right: auto;
}

.usecase-card i {
  font-size: 3em;
  background-color: grey;
}

.usecase-card-inner {
  display: inline-block;
  width: 100%;
  /* width: 75%; */
  margin: 1em 0em;
  padding: 1em;
}

/* use case section end */
/* value section */

.values i {
  font-size: 40px;
  color: #f0326b;
  background: linear-gradient(100deg, #f9643d, #fe2a77);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* value section end */

/* unsorted stuff below */

.previous_work_img {
  width: auto;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  height: 50px;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.big-icon {
  font-size: 20px;
  margin: 3px;
}

.custom-form {
  background-color: white;
  padding: 15px 25px 35px 25px;
  box-shadow: 0 4px 20px 0 rgba(43,39,60,0.25);
}

@media (min-width: 1024px) {
  .custom-form {
    margin-top: -325px;
    min-height: 325px;
  }
}

.custom-form form {
  margin-top: 25px;
}

.custom-form label {
  margin-top: 10px;
  font-size: 16px;
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 0;
}

.custom-form .error {
  display: block;
  color: #FF3300;
}

.custom-form-success {
  padding: 60px 15px;
  text-align: center;
  min-height: 325px;

}
.custom-form-success i {
  margin-top: 200px;
  font-size: 5em;
}

.service-row {
  padding: 15px 35px 15px 15px  ;
  min-height: 200px;
}

.custom-input {
  margin: 10px 0;
}

@media (max-width: 50em) {
  .exist-logo {
    margin: 10px 0;
  }
  .zollhof {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  .nav-button {
    text-align: left;
  }
}

@media (min-width: 1023px) {
  .duplicate-service-small {
    display: none;
  }

}

@media (max-width: 1023px) {
  .duplicate-service-big {
    display: none;
  }

}

.dashboard-img {
  width: 100%;
  height: auto;
}

.services-text {
  margin-top: 3.5em;
  padding-right: 45px;
}

.padding-20 {
  padding: 20px;
}

.margin-top-20 {
  margin-top: 20px;
}

.light-padded-section {
  padding: 40px 0;
}

.padded-section {
  padding: 90px 0;
}

.step-card {
  padding-right: 10%;
}

.steps-section {
  padding: 45px 0 65px 0;
}

.text-width-85 {
  width: 85%;
}

.margin-auto {
  margin-left: auto;
  margin-right: auto;
}
