.centered-75-img{
  width: 75%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.markdown-content {
  margin-top: -25px;
  text-align: center;
  .highlight{
    text-align: left;
    background-color: #f8f8f8;
    @media screen and (min-width: 768px) {
      font-size: 1.1em;
    }
    padding-bottom: 2px;
    pre{
      border: 0px;
      border-radius: 0px;
    }
  }
}

code{
  font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}
code > * {
  font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}
.video-column{
  height: 40vh;
}

.next-section-button{
  margin: 0 auto;
  height: 50px;
  width: 50px;
  background-color: #fe3203;
  border-radius: 50%;
  margin-top: -25px;
  margin-bottom: -25px;
  text-align: center;
  padding-top: 15px;
  color: white;
  position: relative;
  animation: blinker 2s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0.3;
  }
}
