.components-toc {
  #toc{
    border-left: 1px solid #eee;
    font-size: 14px;
    position: absolute;
    background-color: white;
    top: 215px;
    max-height: calc(100vh - 120px);
    overflow-y: auto;
    .toc-title{
      margin-left: 14px;
    }
    ul {
      line-height: 25px;
      list-style-type: none;
      margin-left: -25px;
    }
    a {
      color: grey;

      &.active{
        color: #EE3B23;
        font-weight: bold;
      }
    }

    &.sticky{
      position: fixed;
      top: 80px;
    }
  }

}
