%section.section--center.mdl-grid.mdl-grid--no-spacing.mdl-shadow--2dp
  .mdl-card.mdl-cell.mdl-cell--12-col
    .mdl-card__supporting-text
      %h4 Technology
      Dolore ex deserunt aute fugiat aute nulla ea sunt aliqua nisi cupidatat eu. Nostrud in laboris labore nisi amet do dolor eu fugiat consectetur elit cillum esse. Pariatur occaecat nisi laboris tempor laboris eiusmod qui id Lorem esse commodo in. Exercitation aute dolore deserunt culpa consequat elit labore incididunt elit anim.
    .mdl-card__actions
      %a.mdl-button{:href => "#"} Read our features
  %button#btn3.mdl-button.mdl-js-button.mdl-js-ripple-effect.mdl-button--icon
    %i.material-icons more_vert
  %ul.mdl-menu.mdl-js-menu.mdl-menu--bottom-right{:for => "btn3"}
    %li.mdl-menu__item Lorem
    %li.mdl-menu__item{:disabled => "disabled"} Ipsum
    %li.mdl-menu__item Dolor
